<mat-card>
  <mat-card-header>
    <mat-card-title>Guesses</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <!-- show rounds -->
       <div>
          @for (round of sessionResource.value()?.rounds; track $index) {
            <b>Round {{ $index + 1}}</b>
            @for (guess of round.guess_ids; track $index) {
              <mat-list-item>
                {{ guess }}
              </mat-list-item>
            }
          }
       </div>
    </mat-list>
  </mat-card-content>
</mat-card>
