<mat-card>
  <mat-card-header>
    <mat-card-title>Guesses</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        show current guess: {{ getCurrentGuess()?.movie_title }}<br/>
      </mat-list-item>

      @for (round of sessionResource.value()?.rounds; track $index) {
        <mat-list-item>
          HINT {{sessionResource.value()!.hints[$index] }}<br/>
          ROUND: {{ $index }}<br/>
          @for (guess of round.guesses; track guess.guess_id) {
            @if (guess.user_id === currentUser()?.uid) {
                <!-- show guess -->
                GUESS: {{ guess.movie_title }}<br/>
                <!-- show matches -->
                <app-match [guessId]="guess.guess_id"/>
            }
          }
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>