<form [formGroup]="movieTitleForm">
  <mat-form-field appearance="fill" subscriptSizing=dynamic>
    <mat-label>Title</mat-label>
    <input matInput id="username" type="text" formControlName="movieTitle" placeholder="Enter movie title" />
  </mat-form-field>
</form>


@if (movieList.value() || movieList.status() ===2) {
  <mat-list class="search-results">
    @if(movieList.status() ===2) {
      <mat-list-item>
        <mat-progress-spinner mode="indeterminate" diameter="50" />
      </mat-list-item>
    } @else {
        @for (movie of movieList.value(); track $index) {
          <mat-list-item (click)="selectMovie(movie)">
            <img matListItemAvatar [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path"/>
            <div>
              <span matListItemLine>{{ movie.title }}</span>
              <span matListItemLine>{{ movie.release_date }}</span>
            </div>
          </mat-list-item>
      } @empty {
        <mat-list-item>
          No results.
        </mat-list-item>
      }
    }
  </mat-list>
}

