<mat-card>
  <mat-card-header>
    <mat-card-title>Rounds</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        @if (currentGuess()) {
          show current guess: {{ currentGuess() }}<br/>
        }
      </mat-list-item>

      @for (round of sessionResource.value()?.rounds; track $index) {
        <mat-list-item>
          ROUND: {{ $index + 1}}<br/>
          HINT {{ round.hint }}<br/>
          @for (guess of round.guesses; track guess.guess_id) {
            @if (guess.user_id === currentUser()?.uid) {
                <!-- show guess -->
                GUESS: {{ guess.movie_title }}<br/>
                <!-- show matches -->
                <app-match [guessId]="guess.guess_id"/><br/>
            } @else {
              {{guess.username}} guessed {{ guess.movie_title }}<br/>
            }
          }
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
