@for (round of sessionResource.value()?.rounds | reverseArray; track $index; let first = $first) {
  <mat-card class="card" [class.expanded]="collapse() === $index">
    <mat-card-header (click)="collapse.set($index)">
      <mat-card-title><span>ROUND {{ sessionResource.value()?.rounds?.length! - $index }} <mat-icon [class.toggle]="collapse() === $index">chevron_right</mat-icon></span></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if ((round.hint)) {<div>Hint: {{ round.hint }}</div>}
      @for (guess of round.guesses; track guess.guess_id) {
        @if (guess.user_id === currentUser()?.uid) {
          <!-- show round guess -->
          <div>Your guess: {{ guess.movie_title }}</div>
          <!-- show round matches -->
           <div><app-match [guessId]="guess.guess_id"/></div>
        }
      }
      <div>
        <span>Other guesses:</span>
        <mat-list>
          @for (guess of round.guesses; track guess.guess_id) {
            @if (guess.user_id !== currentUser()?.uid) {
              <mat-list-item>
                <!-- opponents guesses -->
                - {{guess.username}} guessed: {{ guess.movie_title }}<br/>
              </mat-list-item>
            }
          }
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
}
