/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #2e4343; padding: 8px;}

mat-card {
  color: white;
}

.mat-mdc-card-actions {
  margin-top: auto;
}
